  
* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #2d728f;
  }
  

header {
    width: 100%;
    background-color: #3b8ea5;
    display: flex;
}

h1 {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
    color: #f5ee9e;
    display: flex;
    align-self: center;
}
 
nav li {
    display: flex;
    flex-direction: row;
    color: #f5ee9e;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif 
}

a:link {
    color: #f5ee9e;
}

a:visited {
    color: #2d728f;  
}

h2{
    color: #f5ee9e;
    border-top: solid #f5ee9e;
    padding-top: 20px;
    text-align: center;
    margin: 20px;
    font-style: bold;
    letter-spacing: 2px; 
    font-size: 20px;
}

section.about {
    font-family: Arial, Helvetica, sans-serif;
    color:#f5ee9e;
    text-align: center;   
}

figure.headshot{
    display: flex;
    justify-content: space-around;
    align-self: center;
    padding-bottom: 10px;
}

section.work{
    display: flex;
    flex-direction: column;  
 }

.photo1{

}

.photo2{
    border-top: solid #f5ee9e;
    margin:10%;

}

.photo3{
    border-top: solid #f5ee9e;
    margin:10%;
}

figcaption {
    color: #f5ee9e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 2px;
}

section.contact{

}
@media only screen and (min-width: 601px) {
    h1 {
      font-size: 80px;
    }
    h2 {
        font-size: 60px;
    }
    figcaption {
        font-size: 48px;
    }
    section.about {
        font-size: 48px;
    }

  }